/*!
 * Separate style created for in app elements. 
 * Here it's just a circle
 * 
 */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.circle{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: #000000;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);  /* To give a 3d effect to circle*/
          box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    position:absolute; /* To center the circle in center of screen*/
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;   
}


